.table_container {
    max-width: 100%;
    /* max-height: 500px; */
    margin: 0 auto;
    overflow: auto;
}
.table {
    width: 100%;
    border-spacing: 0;
}

caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
}

.table th {
    background: #fff;
    padding: 8px 10px;
    border-bottom: 1px solid #1a1a1a;
    font-weight: bold;
    text-align: left;
}

th.up,
th.default,
th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.table td {
    border-top: 1px solid #ddd;
    padding: 8px 20px;
}

.table tbody tr:first-child td {
    border-top: none;
}

.table tbody tr:nth-child(n) td {
    background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
    background: #fff;
}
form{
    display: flex;
}
.inp {

    font-size: 13px;
    border-radius: 4px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: flex;
}
:hover {
    border-color: #ccc;
}
:focus{
    border-color: #9147ff;
    background: #fff;
}


